span{
    margin-left: 40px;
    margin-top: 10px;
    display: inline-block;
    margin-bottom: 8px;
}

p:hover{
    background-color: rgb(76, 76, 76);
}
p{
    margin-top: 0px;
    margin-bottom: 0px;
    display: flex;
    border-style: none;
    background-color: grey;
    padding-left: 20px;
    width: 250px;
    padding: 20px;
}

